.header{
    margin-left:43%;
    margin-bottom:10%;
    
}
div{
    margin-left: 12%
}
.tagline{
    background-color: #004F6A;
    color: white
    
}
.contact{
    background-color: #004F6A;
    color: white;
}
a href{
    
}